$blue: rgba(3,166,136,1);
$blueLight: lighten($blue, 40%);
$blueDark: darken($blue, 20%);
$green: rgba(201,217,78,1);
$greenLight: lighten($green, 20%);
$greenDark: darken($green, 20%);
$yellow: rgba(242,172,41,1);
$yellowLight: lighten($yellow, 20%);
$yellowDark: darken($yellow, 20%);
$orange: rgba(242,118,46,1);
$orangeLight: lighten($orange, 20%);
$orangeDark: darken($orange, 20%);
$red: rgba(242,52,52,1);
$redLight: lighten($red, 20%);
$redDark: darken($red, 20%);
$darkGrey: rgb(100,100,100);
$square : 300px;

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

body{
	background-image: url('../assets/creampaper.png');
}

#innerContainer{
	width : $square * 2;
	height : $square;
	position : absolute;
}

h1{
	text-shadow : 1px 1px 1px white;
}

#newList{
	margin: 0 0 0 12px;
}

.newList{
	margin: 7px 0 7px 0;
}

.plus{
	background-image: url('../assets/icons/white/plus_12x12.png');
	background-repeat: no-repeat;
	background-position: center center;
}

.downArrow{
	background-image: url('../assets/icons/white/plus_12x12.png');
	background-repeat: no-repeat;
	background-position: center center;
}

@mixin transition-left( $duration ){
  -webkit-transition-property: left;
  -webkit-transition-duration: $duration;
  -webkit-transiton-timing-function: ease-in-out;

  -moz-transition-property: left;
  -moz-transition-duration: $duration;
  -moz-transiton-timing-function: ease-in-out;

  -ms-transition-property: left;
  -ms-transition-duration: $duration;
  -ms-transiton-timing-function: ease-in-out;

  transition-property: left;
  transition-duration: $duration;
  transiton-timing-function: ease-in-out;

  transform: translate3d(0,0,0);
}

.right{
  @include transition-left( 1s );

  left: 0px;
}

.left{
  @include transition-left( 1s );

  left: -300px;
}

h1.title{
	float: left;
	display: inline-block;
	font-family: 'Montserrat', sans-serif;
	width: 400px;

	.blue{
		color: $blue;
	}

	.yellow{
		color: $yellow;
	}

	.red{
		color: $red;
	}
}

.card{

	border-radius: 6px;
	width: $square;
	height: $square;
	position: relative;
	float: left;
	margin: 12px;
	-webkit-box-shadow:  4px 4px 10px 0px rgba(22, 22, 22, .4);
	box-shadow:  4px 4px 10px 0px rgba(22, 22, 22, .4);
	overflow: hidden;
	cursor: pointer;

	&.blue{
		background-color : $blue;
	}

	&.green{
		background-color: $green;
	}

	&.yellow{
		background-color: $yellow;
	}

	&.orange{
		background-color: $orange;
	}

	&.red{
		background-color: $red;
	}

	.front,.back{
		width: $square;
		position: relative;
		font-size:3.5em;
		color: rgba(0,0,0,0.6);
		text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
		float: left;
		padding: 0px 10px 0px 10px;
	}

	.front{
		height: 50%;
		top: 50%;
		text-align:center;
		margin-top: -25px;

		input[type=text]{
			font-size: 32px;
			height: 50px;
			border-radius: 6px;
			border: none;
			padding: 12px;
		}

	}

	.back{
		padding: 12px;
		overflow: hidden;

		ul{
			li{
				font-size: 1.5em;	
			}
		}

		input[type=text]{
			font-size: 1.2em;
			height: 1.5em;
			border-radius: 6px;
			border: none;
		}

		.purchased{
			text-decoration: line-through;
		}
	}

	.close{
		width: 32px;
		height: 32px;
		position: absolute;
		top: 0px;
		right: 300px;
		margin: 10px 10px 0 0;
		font-size: 30px;
		font-weight: bolder;
		color: rgba(0,0,0,0.6);
		text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
		text-align: center;
	}
}	

.list{
	overflow : scroll;
}

ul{
	list-style : none;
}

input, input:focus{
  &.blue{
	color: $blueDark;
	background-color: $blueLight;
  }
  &.green{
	color: $greenDark;
	background-color: $greenLight;
  }
  &.yellow{
	color: $yellowDark;
	background-color: $yellowLight;
  }
  &.orange{
	color: $orangeDark;
	background-color: $orangeLight;
  }
  &.red{
	color: $redDark;
	background-color: $redLight;
  }
}

::-webkit-input-placeholder {
   color: $darkGrey;
}

:-moz-placeholder {  
   color: $darkGrey;
}

:-ms-input-placeholder {  
   color: $darkGrey;
}